/build
/winbuild
/output
/data
temp

# developer stuff
**/__pycache__
tests/benchmarks
resources
Makefile
resources
.clangd
.cache
.vscode
.vs
**/__pycache__
config.txt
_codeql_build_dir
_codeql_detected_source_root
