.vscode
.vs
.devcontainer
.cache

build
out
winbuild
temp
debug
external
figures/*
output/*
data/*
perf.*
cmake/src
CMakeFiles
lib
valgrind.txt
callgrind.*
*log

*.plot
*.xvg
*.pdf
*.png
*.xml
*.pdb
*.ccp4
*.mrc
*.cif
**/__pycache__

!test/files/*
