.vscode
.vs
.devcontainer
build
out
winbuild
temp
debug
external
figures/*
output/*
data/*
perf.*
CMakeFiles
lib
valgrind.txt
callgrind.*
*log

*.plot
*.xvg
*.pdf
*.png
*.xml
*.pdb
*.ccp4
*.mrc
*.cif
**/__pycache__
