name: Build & test (external)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [master]

jobs:
  build-and-test-external:
    uses: ./.github/workflows/build-and-test.yml
    with:
      package_permission: read