name: Build & test

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [master]

jobs:
  build-and-test-internal:
    if: github.event.pull_request.head.repo.full_name == 'AUSAXS/AUSAXS'
    permissions:
      packages: write

    uses: ./.github/workflows/build-and-test-template.yml
    with:
      package_permission: true

  build-and-test-external:
    if: github.event.pull_request.head.repo.full_name != 'AUSAXS/AUSAXS'
    permissions:
      packages: read
    uses: ./.github/workflows/build-and-test-template.yml
    with:
      package_permission: false