name: Build & test (external)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [master]

jobs:
  build-and-test-external:
    permissions:
      packages: write

    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: ./.github/workflows/build-and-test-template.yml
    with:
      package_permission: true